{% extends "care_app/base_template.html" %}

{% load static %}

{% block content %}
<div class="container">
    <!-- Logo -->
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 50vh; padding: 0px;">
        <img src="{% static 'images/Care-A-Lot Logo.png' %}" class="img-fluid" alt="Centered image" style="max-width: 300px; margin-left: 210px;">
    </div>
    {% if patients %}
    <ul>
        {% for patient in patients %}
            <li style ="padding-bottom:10px;">
                <strong>{{ patient.name }}'s Profile:</strong>
                <a href="{% url 'patient-detail' patient.id %}" class="btn btn-primary">View Patient</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No active patients found.</p>
    {% endif %}
    <a href="{% url 'patient-create' %}" class="btn btn-success">Create Patient</a>
</div>
{% endblock %}
